body {
    background: #fcfcfc;
}

.available-tiles-item {
    background: #F3F6F9;
    border:1px solid #F3F6F9;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.available-tiles-item .d-title-name {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}

.available-tiles-item .d-view-tile-options {
    display: inline-block;
    width: 39%;
    text-align: right;
    vertical-align: middle;
}

.list-available-of-tiles {
    /* max-height: 300px; */
    /* overflow-y: scroll; */
}

.d-qr-code {
    width: 250px;
    background: red;
    display: block;
    margin: 0 auto 0px;
}

.d-qr-header h2 {
    font-size: 18px;
    text-align: center;
    line-height: 1em;
    margin-bottom: 5px;
}

.d-qr-sub-header {
    text-align: center;
    font-size: 13px;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.d-qr-bottom {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px;
}

.d-qr-bottom a {
    display: inline-block;
    background: #8950fc;
    color: #fff;
    line-height: 1em;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 5px;
}

.d-add-teacher-error {
    color: red;
    margin-top: 5px;
    font-size: 11px;
    display: none;
}

.d-qr-barinfo {
    text-align: center;
    margin: 10px 0;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 5px;
}

.d-per-day-report .d-vertical-cols {
    display: inline-block;
    width: 13%;
    text-align: center;
}

.d-per-day-report .d-vertical-cols .d-per-day {
    margin-bottom: 10px;
}

.d-per-day-report .d-vertical-cols .d-per-day .dcolsvertical {
    background-color: #1bc5bd;
    border-radius: 5px;
    width: 75%;
    margin: 0 auto;
}

.d-per-day-notes {
    font-size: 12px;
    margin-bottom: 20px;
}

.d-sentense-left {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}

.d-sentense-right {
    display: inline-block;
    vertical-align: middle;
    width: 28%;
    text-align: right;
}

.d-sentense-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.d-sentense-right a.mark-correct {
    color: #ffffff;
    background-color: #1BC5BD;
    border-color: #1BC5BD;
    text-transform: capitalize;
}

.d-sentense-right a.mark-incorrect {
    color: #ffffff;
    background-color: #b10c23;
    border-color: #b10c23;
    text-transform: capitalize;
}

span.d-correct-badge {
    background: #0e7671;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding: 1px;
    border-radius: 20px;
    color: #fff;
    margin-right: 5px;
}

.list-of-correct-sentenses {
    max-height: 450px;
    overflow-y: scroll;
}

.d-vertical-cols-sentense .d-per-day-label {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}

.d-vertical-cols-sentense .d-per-day {
    display: inline-block;
    width: 64%;
    vertical-align: middle;
}

.d-vertical-cols-sentense .d-per-day .d-per-day-placeholder {
    background: #d0bdf9;
    border-radius: 20px;
}

.d-vertical-cols-sentense .d-per-day-number {
    display: inline-block;
    width: 17%;
    vertical-align: middle;
    text-align: right;
}

.d-vertical-cols-sentense .d-per-day .dcolsvertical {
    background-color: #1bc5bd;
    border-radius: 5px;
    height: 10px;
}

.d-vertical-cols-sentense {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

div.card.card-custom {
    box-shadow: 0 0 12px #ccc !important;
}

.d-note-input-field textarea {
    display: block;
    width: 100%;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    height: 90px;
    margin-bottom: 10px;
    padding: 10px;
}

.d-notes-input-button {
    text-align: right;
}

.d-notes-input-button input[type="submit"] {
    background: #1bc5bd;
    border: 0 none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 20px;
    border-radius: 5px;
}

.d-note-date {
    text-align: right;
}

.d-note-date span {
    background: #ccc;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 19px;
    line-height: 1em;
    display: inline-block;
}

.d-notes-list-item {
    border-top: 1px solid #ccc;
    padding: 15px 10px;
}

.d-note-text {
    margin-top: 5px;
}

.d-notes-list-inner {
    height: 470px;
    overflow-y: scroll;
}

